body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #f5f4f2;
}

.wrapper {
    width: 75vw;
    margin: auto;
}

#formWrapper {
    font-size: 14px;
    background-color: #dbdad7;
    padding: 5px;
}

h3 {
    text-decoration: underline;
}

form {
    width: 60vw;
    margin: auto;
    text-align: left;
}

.formLine{
    margin: 1vh 0;
}

input {
    height: 30px;
}

select {
    height: 30px;
}

.extraOption{
    margin: 1vh 0;
}

/* Nur zum Verhindern des Redirects bei Submit der Daten*/
iframe {
    width: 0 ;
    height: 0;
    border: 0;
    display: none;
}

.map {
    height: 300px; 
    width: 500px;
    float: right;
}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
   background-color: #8cf593;
   color: black;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   text-align: left;
   border: none;
   outline: none;
   transition: 0.4s;
 }
 
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #33b551;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #dbdad7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
} 
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#results {
      margin: 1vh 0;
  }

  .result {
      margin-bottom: 1vh;
  }

  .resultInfo {
    float: left;
    width: 20vw;
    margin-top: 10vh;
    font-size: 20px;
    text-align: left;
  }

  .resultWrapper {
      padding: 5px;
  }

  #noResults {
      display:none;
  }